<div class="container">
    คูณจำนวน
    <div class="row">
        <div class="col-5">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">ค่าที่ 1</span>
                </div>
                <input type="number" 
                class="form-control" 
                aria-label="Small" 
                aria-describedby="inputGroup-sizing-sm"
                [(ngModel)]="request.key1">
              </div>
              
        </div>
        <div class="col-5">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">ค่าที่ 2</span>
                </div>
                <input 
                type="number"
                 class="form-control"
                 aria-label="Small" 
                aria-describedby="inputGroup-sizing-sm"
                [(ngModel)]="request.key2">
              </div>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)=" getData()">คำนวณ</button>
        </div>
    </div>
    ผลลัพธ์ {{result}}
</div>